body {
    background-color: rgb(202, 65, 202);
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 20px 0;
    color: #fff;
    font-size: 4em;
}
table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #f1f1f1;
}
#retornar-menu {
    background-color:#3a0066 ;
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#retornar-menu:hover {
    background-color:#3a0066 ;
}

.botao{
    background-color:#3a0066 ;
    color: white;
    padding: 10px 20px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

